@charset "UTF-8";

%clear {
  clear: both;
  @include clearfix;
  &:before,&:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


%mid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}


%pure {
  padding: 0;
  border:0;
  outline: 0;
}


%fl {
  position: relative;
  float: left;
}


%fr {
  position: relative;
  float: right;
}


%noSelect {
  @include user-select(none);
  &::-moz-selection {
    background: transparent;
  }
  &::selection {
      background: transparent;
  }
}


@mixin selectColor($bgc : transparent, $color: transparent) {
  &::-moz-selection {
    color: $color;
    background-color: $bgc;
    @content;
  }
  &::selection {
    color: $color;
    background-color: $bgc;
    @content;
  }
}


@mixin retina() {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}

@mixin orientation( $portrait : true ) {
  @media screen and ( orientation: #{ if($portrait, portrait, landscape) } ) {
    @content;
  }
}

@mixin breakpoint($point, $min: true)  {
  @if $point == ie10 {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      @content;
    }
  }
  @else if $point == ie {
    @media \0screen\,screen\9 {
      @content;
    }
  }
  @else {
    @if $min == true {
      @media only screen and (min-width: $point) {
        @content;
      }
    }
    @else {
      @media only screen and (max-width: $point - 1) {
        @content;
      }
    }
  }
}
