$black-two: #212121;
$black-three: rgba(181, 167, 138, 0.05);
$black-87: lighten(#000, 8.7);
/* $black-54: rgba(0, 0, 0, 0.54); */
$black-54: lighten(#000, 5.4);
$black-38: lighten(#000, 3.8);
$black-10: lighten(#000, 1);
$red: #d0021b;
$white: #ffffff;
$white-two: #eeeeee;
$indigo-blue: #311b92;
$blue-with-a-hint-of-purple: #512da8;
$bluey-purple: #673ab7;
$yellow: #f5a623;
$black: #000000;
$marigold: #ffc107;

$sunflower-yellow: #ffce00;
$marigold: #ffc107;
$dark-tan: #b7985b;
$light-gold: #ffdb5e;
$dark-gold: #b29000;
// $dark-gold-bg: rgba(191, 155, 48, 0.05);
$table-bg: rgba(191, 155, 48, 0.2);
$table-bg2: rgba(191, 155, 48, 0.1);

$gold: #ffae05;
